.header .nav{
    padding: 10px 50px; 
    background: #fff;
    width: 100%;
    transition: all 0.5s; 
    position: fixed;
    top: 0;
    z-index: 1000;
}
.header.fixed .nav {
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 50px;
    transition: all 0.5s; 
}
.header.fixed .nav .logo img{
    transition: all 0.5s; 
    height: 60px;
    
}
.header.fixed .nav h2{
    transition: all 0.5s; 
    font-size: 18px;
    
}
.header.fixed .nav .social img { 
    transition: all 0.5s; 
    width: 30px;
}
.header .nav,.header .nav .logo, .header .nav .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} 
.header .nav .social img{  
    margin: 0 6px;
    transition: all 0.3s;
    border-radius: 50%;
}
.header .nav .social img:hover{
    background:#004834;
    transition: all 0.3s; 
}
.header .nav .logo img{
    margin-right: 15px;
}
.header .nav h2{
    font-size: 20px;
    color:#004834;
}
.header .hero-banner{
    margin-top: 90px;
    padding: 0 50px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../Assets/Images/hero-bg.png) no-repeat center;
    background-size: cover;
}
.header .hero-banner .box{
    max-width: 1300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.header .hero-banner .content{
    width: 60%;
    color:#fff;
}
.header .hero-banner .content p{
    font-size: 18px;
    line-height: 1.4;
}
.header .hero-banner .content h1{
    margin-bottom: 10px;
    font-size: 30px;
}
.header .hero-banner .content h4{
    font-size: 20px;
    margin-bottom: 5px;
}
.header .hero-banner .img{
    width: 40%;
}
.header .content .group{
    margin-top: 20px;
}
.header .hero-banner .contact-btn{
    margin-top: 20px;
    width: 100%;
    text-align: right;
}
.header .contact-btn a{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color:#004834;
    font-size: 24px;
    font-weight: bold;
    padding: 12px 40px 10px 40px;
    border: 2px solid #004834;
    background:#fff;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}
.header .contact-btn a:hover{  
    color:#fff;
    background:#004834;
    transition: all 0.3s;
}